body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #3549e8;
  color: rgb(247, 243, 243);
  text-align: center;
  /* top, rigth, botton, certer*/
  /* paddinng: espaçamento interno(top, rigth, botton, certer)
  /* paddinng: 20px 30px 60px 100px; */

  /* margin: espaçamento externo(top, rigth, botton, certer)
  /* margin: 20px 30px 60px 100px; */
  
  padding: 20px 30px 60px 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 70vh;
    align-items: center;
    background-color: aliceblue;
}
.box{
    background-color: antiquewhite;
    border: 2px;
    padding: ;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
}
.box {
width: 80%;
}
    /* regras
}

